<div class="row">
  <div class="col-md-10" role="main">
    <h3>Public feed</h3>
    <div class="row">
      <% if signed_in? %>
        <%= simple_form_for @post, html: {:class => 'form-horizontal' }, method: :post do |f| %>
          <%= tag(:input, :type => "hidden", :name => request_forgery_protection_token.to_s, :value => form_authenticity_token) %>
          <%= f.hidden_field :user_id, value: @current_user.id %>
          <div class='form-group my_group'>
            <%= f.text_area :post, :class => "form-control focus_expand", :placeholder => "What's on your mind?" %>
          </div>
          <div class="form-group my_group">
            <%= f.submit 'Say it' , :class => "btn btn-primary", id: "align_right" %>
          </div>
        <% end -%>
      <% else %>
        <h5>To post, please log in or register</h5>
      <% end %>
    </div>
    <table class="table table-striped">
      <tbody>
        <% @posts.each do |post| %>
          <tr>
            <td class="up"><%= link_to post.user.username, user_path(id: post.user.id) %></td>
            <td><%= simple_format(post.post) %>
              <% display_last_two(post.id) %>
              <% if @display_last_two.any? %>
                <table class="table">
                  <tbody>
                    <% post_id = post.id %>
                    <% @display_last_two.each do |d| %>
                      <tr>
                        <td class="up"><%= link_to d.user.username, user_path(id: d.user.id) %></td>
                        <td><%= simple_format(d.comment) %></td>
                      </tr>
                    <% end -%>
                    </tbody>
                </table>
                <div class="comments_table">
                  <% if signed_in? %>
                    <% new_comment %>
                    <%= simple_form_for @comment, html: {:class => 'form-horizontal comment' }, method: :post do |f| %>
                      <%= tag(:input, :type => "hidden", :name => request_forgery_protection_token.to_s, :value => form_authenticity_token) %>
                      <%= f.hidden_field :user_id, value: @current_user.id %>
                      <%= f.hidden_field :post_id, value: post_id %>
                      <div class='form-group reply_group'>
                        <%= f.text_area :comment, :class => "form-control focus_expand", :placeholder => "What's your reply?" %>
                      </div>
                      <div class="form-group reply_group">
                        <%= f.submit 'Say it' , :class => "btn btn-primary btn-right", id: "align_right" %>
                      </div>
                    <% end %>
                  <% end %>
                </div>
              <% else %>
                <!-- <table>
                  <tbody>
                    <tr>
                      <td> -->
                        <% if signed_in? %>
                          <% new_comment %>
                          <%= simple_form_for @comment, html: {:class => 'form-horizontal comment' }, method: :post do |f| %>
                            <%= tag(:input, :type => "hidden", :name => request_forgery_protection_token.to_s, :value => form_authenticity_token) %>
                            <%= f.hidden_field :user_id, value: @current_user.id %>
                            <%= f.hidden_field :post_id, value: post.id %>
                            <div class='form-group reply_group'>
                              <%= f.text_area :comment, :class => "form-control focus_expand", :placeholder => "What's your reply?" %>
                            </div>
                            <div class="form-group reply_group">
                              <%= f.submit 'Say it' , :class => "btn btn-primary", id: "align_right" %>
                            </div>

                          <% end %>
                        <% else%>
                        <p>Login or register to comment</p>
                        <% end %>
                      <!-- </td>
                    </tr>
                  </tbody>
                </table> -->
              <% end -%>
            </td>
            <td class="up"><%= link_to 'Show', post %></td>
          </tr>
        <% end %>
      </tbody>
    </table>

    <br>
    <%= link_to 'New Post', new_post_path %>

  </div>
</div>
