<div class="row">
  <div class="col-md-2">
      <% if signed_in? %>
      <div class="bs-sidebar hidden-print" role="complementary">
        <ul class="nav bs-sidenav">
          <li>
            <a href="/messages">Messages</a>
          </li>
          <li>
            <a href="/friends">Friends</a>
          </li>
          <li>
            <a href="/groups">Groups</a>
          </li>
          <li>
            <a href="/photos">Photos</a>
            <!-- <ul class="nav">
            <li><a href="#nav-tabs">Tabs</a></li>
            <li><a href="#nav-pills">Pills</a></li>
            <li><a href="#nav-justified">Justified nav</a></li>
            <li><a href="#nav-disabled-links">Disabled links</a></li>
            <li><a href="#nav-dropdowns">Using dropdowns</a></li>
            </ul> -->
          </li>
        </ul>
      </div>
    <% end -%>
  </div>
  <div class="col-md-8" role="main">
    <h3>News feed</h3>
    <div class="row">
      <% if signed_in? %>
        <%= simple_form_for @post, html: {:class => 'form-horizontal' }, method: :post do |f| %>
          <%= tag(:input, :type => "hidden", :name => request_forgery_protection_token.to_s, :value => form_authenticity_token) %>
          <%= f.hidden_field :user_id, value: @current_user.id %>
          <div class='input-group'>
            <%= f.text_field :post, :class => "form-control", :placeholder => "What's on your mind?" %>
            <span class="input-group-btn">
              <%= f.submit 'Say it' , :class => "btn btn-primary" %>
            </span>
          </div>
        <% end -%>
      <% else %>
        <h5>To post, please log in or register</h5>
      <% end %>
    </div>
    <table class="table table-striped">
      <tbody>
        <% @posts.each do |post| %>
          <tr>
            <td class="up"><%= link_to post.user.username, user_path(id: post.user.id) %></td>
            <td><%= simple_format(post.post) %></td>
            <td class="up"><%= link_to 'Show', post %></td>
          </tr>
        <% end %>
      </tbody>
    </table>

    <br>
    <%= link_to 'New Post', new_post_path %>

  </div>
  <div class="col-md-2" role="right"></div>
</div>


