<div class="col-md-8">
<h1>New Post</h1>

<%= form_for(@post) do |f| %>
  <% if @post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
        <% @post.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row">
    <div class="col-md-6">
      <% if signed_in? %>
        <%= simple_form_for @post, html: {:class => 'form-horizontal' }, method: :post do |f| %>
          <%= tag(:input, :type => "hidden", :name => request_forgery_protection_token.to_s, :value => form_authenticity_token) %>
          <%= f.hidden_field :user_id, value: @current_user.id %>
          <div class='input-group'>
            <%= f.text_field :post, :class => "form-control", :placeholder => "What's on your mind?" %>
            <span class="input-group-btn">
              <%= f.submit 'Say it' , :class => "btn btn-primary" %>
            </span>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
<% end %>
</div>
  <div class="col-md-2"></div>
</div>
