<p id="notice"><%= notice %></p>
  <div class="row">
    <div class="col-md-8">
      <div id="avatar">
        <% if avatar(@user.id).any?%>
          <% @avatar.each do |avatar| %>
          <%= image_tag(avatar.picture_url, :width => 200) %>
          <% end -%>
        <% else %>
          <% default_avatar %>
          <%= image_tag(@default_avatar.picture_url, :width => 200) %>
        <% end -%>
      </div>
      <h3>
        <strong><%= @user.username %></strong>
      </h3>
      <p>
        <strong>Name:</strong>
        <%= @user.first_name + " " + @user.last_name %>
      </p>

      <p>
        <strong>Email:</strong>
        <%= @user.email %>
      </p>
    </div>
    <div class="col-md-4">
      <% if @user.id != current_user.id %>
        <button class="btn btn-primary"><%= link_to 'Message', new_message_path(@user) %></button>
        <br>
        <br>
        <button class="btn btn-primary"><%= link_to('Photos', friend_pictures_path(@user.id)) %></button>
      <% elsif @user.id == current_user.id %>
      <button class="btn"><%= link_to 'Sign out', signout_path , method: :delete, data: { confirm: 'Are you sure?' }%></button>
      <br>
      <br>
      <button class="btn"><%= link_to 'Edit', edit_user_path(current_user) %></button>
      <% end %>
    </div>
  </div>

<div class="row">
  <div class="col-md-10">
    <% last_20_pics(@user.id) %>
      <% if  @last_20_pics.any? %>
      <p>
        <strong>Photos:</strong>
      </p>
      <% @last_20_pics.each do |photo| %>
        <% if photo.avatar != "1" %>
          <div class="photo">
            <div class="pic_sm"><%= link_to image_tag(photo.picture_url, :width => 150), photo_path(id: photo.id) %></div>
            <p><%= photo.name %></p>
          </div>
        <% end -%>
      <% end %>
    <% end -%>
  </div>
</div>
<!-- <div class="row"> -->
  <button class="btn"><%= link_to 'Delete account', current_user, method: :delete, data: { confirm: 'Are you sure?' } %></button>
<!-- </div> -->


