
	<div class="col-md-6">
    <h1><%= current_user.username %></h1>
    <br>
		<div class="col-md-10">
      <%= form_tag friends_path, :method => 'get' do %>
        <p>
          <%= text_field_tag :search, params[:search] %>
          <%= submit_tag "Search", :name => nil %>
        </p>
      <% end %>
	  </div>
    <% if @find_friends.any? %>
      <table class="table">
        <tbody>
          <% @find_friends.each do |f| %>
            <% if f.id != current_user.id %>
              <tr>
                <td><%= link_to f.username, user_path(id: f.id) %></td>
                <td><%= f.first_name + " " + f.last_name %></td>
                <% @friend_id = f.id %>
                <% check_friend(current_user.id, f.id) %>
                <% if @check_friend == nil %>
                  <td><%= simple_form_for @friend, html: {:class => 'form-horizontal' }, method: :post do |f| %>
                    <%= tag(:input, :type => "hidden", :name => request_forgery_protection_token.to_s, :value => form_authenticity_token) %>
                    <%= f.hidden_field :user_id, value: current_user.id %>
                    <%= f.hidden_field :request, value: "pending" %>
                    <%= f.hidden_field :friend_id, value: @friend_id %>
                    <div class='form-group'>
                      <%= f.submit 'Send friend request' , :class => "btn btn-primary" %>
                    </div>
                  <% end %></td>
                <% elsif @check_friend.request == "received" %>
                  <td>Friend request sent</td>
                <% end %>
              </tr>
            <% end %>
          <% end %>
        </tbody>
      </table>
    <% end %>
    <table class="table">
      <thead><tr><td>All Friends (<%= @friends.count %>)</td></tr></thead>
      <tbody>
        <% @friends.each do |friend| %>
          <tr>
            <td><%= link_to friend.user.username, user_path(id: friend.user.id) %></td>
            <% @bf_id = friend.id %>
            <% if friend.request == "pending" %>
              <td><%= simple_form_for @friend, url: friend_path(@bf_id), html: {:class => 'form-horizontal' }, method: :patch do |f| %>
                <%= tag(:input, :type => "hidden", :name => request_forgery_protection_token.to_s, :value => form_authenticity_token) %>
                <%= f.hidden_field :user_id, value: current_user.id %>
                <%= f.hidden_field :friend_id, value: friend.user_id %>
                  <div class='form-group'>
                    <%= f.submit 'Accept' , :class => "btn btn-success" %>
                  </div>
              <% end %></td>
              <td><%= simple_form_for @friend, url: friend_path(@bf_id), html: {:class => 'form-horizontal' }, method: :delete do |f| %>
                <%= tag(:input, :type => "hidden", :name => request_forgery_protection_token.to_s, :value => form_authenticity_token) %>
                <%= f.hidden_field :user_id, value: current_user.id %>
                <%= f.hidden_field :friend_id, value: friend.user_id %>
                  <div class='form-group'>
                    <%= f.submit 'Reject' , :class => "btn btn-danger" %>
                  </div>
              <% end %></td>
            <% elsif friend.request == "received" %>
              <td>Friendship pending</td>
              <td></td>
            <% elsif friend.request == "accepted" %>
              <td></td>
              <td></td>
            <% end %>
          </tr>
        <% end %>
      </tbody>
    </table>
	</div>
	<div class="col-md-6"></div>
</div>