<p id="notice"><%= notice %></p>

<% if @photo.avatar != "1"%>
	<h2>
		<%= @photo.name %><small> by <%= @photo.user.username %></small>
		<%= link_to 'Back', photos_path, :class => "btn btn-default", :id => "align_right" %>
		<%= link_to 'Edit', edit_photo_path(@photo), :class => "btn btn-default", :id => "align_right" %>

	</h2>
<% else %>
	<h2>
		Avatar of <%= @photo.user.username %><%= link_to 'Edit', edit_photo_path(@photo), :class => "btn btn-default", :id => "align_right" %><%= link_to 'Back', photos_path, :class => "btn btn-default", :id => "align_right" %>
	</h2>
<% end -%>
<br>
<p>
  <strong>Description:</strong>
  <%= @photo.description %>
</p>
<br>
<p>
  <%= image_tag(@photo.picture_url, :width => 600) if @photo.picture.present? %>
</p>
