<% content_for :title do %>Display all users<% end %>

<h1>Display all users
	<%= link_to 'Sign up', signup_path , :class=> "btn btn-default" %>
	<% if signed_in? %>
	<%= link_to 'Sign out', signout_path , method: :delete, :class=> "btn btn-default", data: { confirm: 'Are you sure?' }%>
	<% else %>
	<%= link_to 'Sign in', signin_path , :class=> "btn btn-default" %>
	<% end %>
</h1>

<% if notice %>
    <div class="alert alert-danger">
    	<p><%= notice %></p>
	</div>
<% end %>

<% @users.each do |user| %>
	<h2>User ID: <%= user.id %>
		<% if signed_in? && current_user == user %>
		<%= link_to 'Edit', edit_user_path(user) , :class=> "btn btn-default" %>
		<% end %>
		<%= link_to 'Show', user, :class=> "btn btn-default" %></h2>
	<p>Name: <%= user.first_name + " " + user.last_name %></p>
	<p>Email: <%= user.email_address %></p>
<% end %></h2>
