<% content_for :title do %>Comment index<% end %>

<% content_for :jquery_codes do %>
	$(h1).click(function(){
		alert("hello");
	});
<% end %>

<h1>Here, we'll display all comments!</h1>
<p>Find me in app/views/comments/index.html.erb</p>

<h2><%= @message%></h2>
<% @errors.each do |error| %>
	<p><%= error %></p>
<% end %>

<% if @comment.errors.any? %>
	<div id="error_explanation">
		<h2><%= pluralize(@comment.errors.count, "error") %> prohibited this post from being saved:</h2>

		<ul>
		<% @comment.errors.full_messages.each do |msg| %>
			<li><%= msg %></li>
		<% end %>
		</ul>
	</div>
<% end %>


<% @comments.each do |comment| %>
	<h2>Comment ID: <%= comment.id %></h2>
	<p>Name: <%= comment.name %></p>
	<p>Description: <%= comment.description %></p>
<% end %></h2>
