<div class="row">
  <div class="col-md-2">
    <div class="bs-sidebar hidden-print" role="complementary">
      <ul class="nav bs-sidenav">
        <li>
          <a href="#glyphicons">Messages</a>
        </li>
        <li>
          <a href="#dropdowns">Friends</a>
        </li>
        <li>
          <a href="#btn-groups">Groups</a>
        </li>
        <li>
          <a href="#btn-dropdowns">Photos</a>
          <!-- <ul class="nav">
          <li><a href="#nav-tabs">Tabs</a></li>
          <li><a href="#nav-pills">Pills</a></li>
          <li><a href="#nav-justified">Justified nav</a></li>
          <li><a href="#nav-disabled-links">Disabled links</a></li>
          <li><a href="#nav-dropdowns">Using dropdowns</a></li>
          </ul> -->
        </li>
      </ul>
    </div>
  </div>
  <div class="col-md-8">
    <h2><%= @message.subject %></h2>
      <table class="table table-striped">
        <tbody>
          <tr>
            <td class="up"><%= link_to @message.user.username, user_path(id: @message.user.id) %></td>
            <td><%= @message.message %></td>
          </tr>
          <% display_replies(@message.id) %>
          <% if @replies.any? %>
            <% @replies.each do |r| %>
              <tr>
                <td class="up"><%= link_to r.user.username, user_path(id: r.user.id) %></td>
                <td><%= r.reply %></td>
              </tr>
            <% end -%>
          <% end -%>
        </tbody>
      </table>
    <br>
    <br>
    <div class="col-md-10">
      <% if signed_in? %>
        <p>What say you?</p>
        <% new_reply %>
        <%= simple_form_for @reply, html: {:class => 'form-horizontal' }, method: :post do |f| %>
          <%= tag(:input, :type => "hidden", :name => request_forgery_protection_token.to_s, :value => form_authenticity_token) %>
          <%= f.hidden_field :user_id, value: current_user.id %>
          <%= f.hidden_field :message_id, value: @message.id %>
          <div class='form-group'>
            <%= f.text_field :reply, :class => "form-control" %>
          </div>
          <div class='form-group'>
              <%= f.submit 'Say it' , :class => "btn btn-primary" %>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
  <div class="col-md-2"></div>
</div>
